body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.frame {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9fafc;
}

.campaign-container {
  width: 50%;
  margin: 10px auto;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.campaign-container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
}

.back-section {
  display: flex;
  align-items: center;
  margin-right: 45vw;
}

.back-button {
  font-size: 2rem;
  padding: 10px;
  background-color: #6b49bb;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-right: 10px;
  margin-left: 45px;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.ok-btn
{
    padding: 12px 15px;
    background-color: #563a94;
    border-radius: 15px;
    border: 2px solid #563a94;
    color:white;
    font-size: medium;
}


.back-button:hover {
  background-color: #563a94;
  transform: scale(1.05);
}

.back-text {
  font-size: 1.8rem;
  color: #333;
}

.section {
  margin-bottom: 20px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #f7f7f7;
  border-radius: 8px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header h3 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
  color: #6b49bb;
}

.button-group {
  display: flex;
  gap: 15px;
}

.action-button {
  padding: 10px 20px;
  background-color: #6b49bb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.action-button:hover {
  background-color: #563a94;
}

.subject-textarea,
.email-content-textarea {
  width: 100%;
  max-width: 100%;
  height: 60px;
  resize: vertical;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
}

.subject-textarea:focus,
.email-content-textarea:focus {
  outline: none;
  border-color: #6b49bb;
}

.input {
  width: 90%;
  padding: 12px;
  font-size: 1.2rem;
  margin: 19px;
  border: 2px solid #6b49bb;
  border-radius: 10px;
}

.submit {
  border-radius: 50px;
  float: right;
  background-color: #6b49bb;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.submit:hover {
  background-color: #563a94;
}

.subject {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dropdown {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  min-width: 200px;
  border-radius: 8px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin-top: 10px;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6b49bb;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.file-label:hover {
  background-color: #563a94;
}

.selected-file-name {
  font-size: 0.9rem;
  color: #333;
  margin-top: 5px;
  display: inline-block;
}

.email-container {
  position: relative;
}

.email-list {
  margin-top: 10px;
}

.email-textarea {
  width: 100%;
  max-width: 100%;
  height: 60px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
}

.copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.copy-button:hover {
  background-color: #0056b3;
}

.show-more-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #007bff;
  margin-left: 5px;
}

.more-info {
  cursor: pointer;
  color: #007bff;
  margin-left: 5px;
}

.label {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: #fff;
}

h4{
  margin-top: 4px;
  padding:2px;
}

hr{
  margin-top: -15px;
}
