.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    padding-top: 20px;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.modal-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.file-input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 100%;
    font-size: 0.9rem;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.file-input::file-selector-button {
    padding: 10px;
    background-color: #563a94;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
}

.file-input::file-selector-button:hover {
    background-color: #0056b3;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.modal-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.2s ease;
    width: 120px;
}

.upload {
    background-color: #563a94;
}

.upload:hover {
    background-color: #372560;
}

.cancel {
    background-color: #563a94;
}

.cancel:hover {
    background-color: #372560;
}

.modal-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}